@model List<CVBuilder_MVC.Models.Skill>




    <div class="card m-b-20">
        <div class="card-body">

            <h4 class="mt-0 header-title" style="text-align:center">Skills List</h4>
            <div class="form-group ">

                <table id="datatable" class="table table-hover mb-0">
                    <thead>
                        <tr>
                            
                            <th>Title</th>
                            <th>Level</th>
                            <th>Status</th>
                            <th>Percentage</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                <td>@item.Title</td>
                                <td>@item.Level</td>
                                <td>@item.Status</td>
                                <td>@item.Percentage</td>
                                <td>
                                    <a href="#" onclick="Delete(@item.SkillId)"><i class="fa fa-trash"></i></a>
                                    &nbsp; | &nbsp;
                                    <a href="/User/Update?SkillId=@item.SkillId"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>

