@model CVBuilder_MVC.Models.Others.ViewModal
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from mannatthemes.com/zoovara/vertical-dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 10:38:34 GMT -->
<head>
    <meta charset="utf-8">
    <title>Zoovara - Personal Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="A premium personal template by Mannatthemes" name="description">
    <meta content="Mannatthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/accetsDesign/assetsVerticalDark/images/favicon.ico">
    <link href="/accetsDesign/assetsVerticalDark/plugins/filter/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/accetsDesign/assetsVerticalDark/plugins/animated/headline.css" rel="stylesheet" type="text/css">
    <!-- App css -->
    <link href="/accetsDesign/assetsVerticalDark/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/accetsDesign/assetsVerticalDark/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/accetsDesign/assetsVerticalDark/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="uil uil-cell text-primary"></i>Zoovara
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--end navbar-toggler-->
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-blue btn-sm px-4" href="#" id="lnkPrint">
                            <i class="'uil uil-print mr-1 font-16"></i>Print
                        </a>
                    </li>
                </ul>
            </div>
            <!--end collapse-->
        </div>
        <!--end container-->
    </nav>
    <!--end nav-->
    <div class="main-wraper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-print-12 px-0">
                    <div class="profile-box-left" id="profile_ripple">
                        <div class="zoo-profile-main-pic">
                            <img src="@Model.User.Image" width="128" height="128" alt="" class="rounded-circle d-block mx-auto">
                            <span class="zoo-user-chat">
                                <i class="uil uil-comment-dots"></i>
                            </span>
                        </div>
                        <div class="zoo-profile_user-detail">
                            <h5 class="zoo-user-name">@Model.User.FirstName @Model.User.LastName</h5>
                            <p class="cd-headline loading-bar">
                                <span class="cd-words-wrapper">
                                    @foreach (var item in Model.Skills)
                                    {
                                        <b class="is-visible">@item.Title</b>
                                    }
                                </span>
                            </p>
                        </div>
                        <!--end zoo-profile_user-detail-->
                        <ul class="list-unstyled personal-detail mx-auto">
                            <li>
                                <i class="uil uil-phone-volume"></i> : @Model.User.Contact
                            </li>
                            <li class="mt-1">
                                <i class="uil uil-envelope mt-2"></i> : @Model.User.Email
                            </li>
                        </ul>
                        <!--end personal-detail-->
                        <div class="profile-socials">
                            <ul class="list-inline social-icon text-center mx-auto mb-4">
                                <li class="list-inline-item">
                                    <a href="#" class="bg-blue">
                                        <i class="uil uil-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="bg-secondary">
                                        <i class="uil uil-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="bg-pink">
                                        <i class="uil uil-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                            <!--end social-icon-->
                        </div>
                    </div>
                    <!--end profile-box-left -->
                    <div class="profile-box-right">
                        <section class="section-md">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="header-title mb-3">About us !</h4>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-6 col-print-6">
                                        <h4 class="text-primary font-weight-bold">I'm Rosa Dodson</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
                                        <button type="button" class="btn btn-sm btn-soft-primary">Download CV</button>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-5 col-print-5 offset-lg-1 align-self-center">
                                        <p>
                                            <span class="personal-detail-title">Name</span>
                                            <span class="personal-detail-info">@Model.User.FirstName @Model.User.LastName</span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">Father Name</span>
                                            <span class="personal-detail-info">@Model.User.FatherName</span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">Spoken Langages</span>
                                            <span class="personal-detail-info">
                                                @foreach (var item in Model.Languages)
                                                {
                                                    @item.LanguageName
                                                }
                                            </span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">CNIC</span>
                                            <span class="personal-detail-info">@Model.User.CNIC</span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">Address</span>
                                            <span class="personal-detail-info">@Model.User.Address</span>
                                        </p>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->
                        <section class="section-md">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="header-title mb-3">Education & Skills</h4>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-7 col-print-7">
                                        <div class="row">
                                            <div class="col-sm-6 col-print-6">
                                                <div class="resume-icon">
                                                    <i class="uil uil-graduation-hat"></i>
                                                    <h5 class="mt-n2">Education</h5>
                                                </div>
                                                <!--end resume-icon-->
                                                <div class="timeline">
                                                    @foreach (var item in Model.Qualifications)
                                                    {


                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14 text-primary">@item.Session</div>
                                                                <h5 class="my-1">@item.Title</h5>
                                                                <p>@item.Institute</p>
                                                                <p>Total Marks :@item.TotalMarks</p>
                                                                <p>Obtained :@item.ObtainMarks</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    <!--end time-item-->

                                                </div>
                                                <!--end timeline-->
                                            </div>
                                            <!--end col-->
                                            <div class="col-sm-6 col-print-6">
                                                <div class="resume-icon">
                                                    <i class="uil uil-suitcase-alt"></i>
                                                    <h5 class="mt-n2">Experience</h5>
                                                </div>
                                                <!--end resume-icon-->
                                                <div class="timeline">
                                                    @foreach (var item in Model.Experiences)
                                                    {


                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14 text-primary">@item.StartDate.Date @item.EndDate.Date</div>
                                                                <h5 class="my-1">Title :@item.Title</h5>
                                                                <p class="text-muted">Department :@item.Department</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    <!--end time-item-->

                                                </div>
                                                <!--end timeline-->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-5 col-print-5 align-self-center">
                                        <h4 class="header-title mb-3">Skills</h4>

                                        <div class="skills mt-4">
                                            @foreach (var item in Model.Skills)
                                            {


                                                <div class="skill-box">
                                                    <h4 class="skill-title">@item.Title</h4>
                                                    <div class="progress-line">
                                                        <span data-percent="@item.Percentage" style="width: @item.Percentage;">
                                                            <span class="percent-tooltip">@item.Percentage</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            }
                                            <!--end skill-box-->

                                        </div>
                                        <!--end skill-->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->

                        <footer class="footer-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <p class="copyright mb-0 py-4">© 2019. Design By Mannat-Theme</p>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </footer>
                        <!--end footer-area-->
                    </div>
                    <!--end profile-box-right -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </div>
    <!--end main-wraper-->
    <!-- jQuery  -->
    <script src="/accetsDesign/assetsVerticalDark/js/jquery.min.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/js/bootstrap.bundle.min.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/plugins/ripple/jquery.ripples.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/plugins/animated/headline.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/plugins/counter/jquery.counterup.min.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/plugins/counter/waypoints.min.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/plugins/filter/isotope.pkgd.min.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/plugins/filter/masonry.pkgd.min.js"></script>
    <script src="/accetsDesign/assetsVerticalDark/plugins/filter/jquery.magnific-popup.min.js"></script>
    <!-- App js -->
    <script src="/accetsDesign/assetsVerticalDark/js/app.js"></script>
</body>
<!-- Mirrored from mannatthemes.com/zoovara/vertical-dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 10:38:42 GMT -->
</html>
